.sketchbox {
  width: 600px;
  min-height: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .content {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #AFB1B3;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  }
}
