.toolbar {
  padding: 5px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, .3);
  display: flex;
  align-items: center;
  font-size: 14px;

  > * {
    display: flex;
    align-items: center;
  }

  > .divider {
    margin: 0 8px;
    width: 1px;
    height: 16px;
    background: #d8d8d8;
  }

  > button {
    outline: none;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: #FF4785;
    }

    & + button {
      margin-left: 3px;
    }
  }
}
