.dropdown {
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  user-select: none;
  position: absolute;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, .3);
}
