@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("../assets/fonts/NotoSansKR-Regular.ttf") format("truetype"),
  url("../assets/fonts/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: "Black Han Sans";
  font-weight: 400;
  src: url("../assets/fonts/BlackHanSans-Regular.ttf") format("truetype"),
  url("../assets/fonts/BlackHanSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Yeon Sung";
  font-weight: 400;
  src: url("../assets/fonts/YeonSung-Regular.ttf") format("truetype"),
  url("../assets/fonts/YeonSung-Regular.woff") format("woff");
}
