.linkElement {

}

.tooltip {
  border-radius: 4px;
  background-color: rgb(34,34,34);
  opacity: 0.85;
  height: 25px;
  width: 145px;

  .button {
    float: left;
    background: none;
    border: none;
    cursor: pointer;
  }

  .icon {
    fill: white;
    &:hover {
      fill: #FF4785;
    }
  }
}
