.button {
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;

  & ~ .button {
    margin-left: 10px;
  }

  .icon {
    font-size: 18px;
    color: #999999;
  }

  &:hover > .icon {
    color: #FF4785;
  }
}
