.option {
  padding: 0 5px;
  font-weight: bold;
}

.white {
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.violet {
  background-color: darkviolet;
}
