.options {
  position: absolute;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 5px 0;
  .option {
    &:hover {
      background-color: #B4D5FF;
    }
  }
}

.select {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  float: left;
  padding: 5px 10px;
}

.select + .select {
  margin-left: 10px;
}
