.dialog {
  padding: 5px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

  .icon {
    font-size: 10px;
    margin-right: 5px;
  }

  .input {
    border: none;
    outline: none;
    font-size: 8px;
    width: 300px;
  }
}
