@import "stories/assets/fonts/font";

.editor {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  width: 500px;

  .fontSize {
    margin-bottom: 10px;

    .input {
      margin-left: 5px;
      border: none;
      border: 1px solid #DBDCDC;
      border-radius: 4px;
      outline: none;
    }
  }

  .noto_sans_kr {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
  }

  .black_han_sans {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
  }

  .yeon_sung {
    font-family: "Yeon Sung", sans-serif;
    font-weight: 400;
  }
}
