@import "stories/assets/fonts/font";

.editor {
  .fontSize {
    margin-bottom: 10px;

    .input {
      margin-right: 10px;
    }
  }

  .noto_sans_kr {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
  }

  .black_han_sans {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
  }

  .yeon_sung {
    font-family: "Yeon Sung", sans-serif;
    font-weight: 400;
  }

  .toolbar {
    position: fixed;
  }

  .marginBottom {
    margin-bottom: 30px;
  }
}
