.formatSwitcher {
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }
  &.underline {
    text-decoration: underline;
  }
  &.lineThrough {
    text-decoration: line-through;
  }
}
